* {
    padding: 0;
    margin: 0;
    /* color: rgba(255, 255, 255, 0.7); */
    box-sizing: border-box;
}

nav {
    background-color: #673ab7;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    list-style: none;
    position: relative;
    margin-right: 40px;
}

nav ul li {
    /* float: left; */
    display: inline-block;
    margin: 0 5px;
    /* background-color: chocolate; */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    padding: 8px 15px;
    font-size: 18px;
}

nav ul li a:hover {
    /* background-color: #605377; */
    color: #33ffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav ul ul {
    position: absolute;
    top: 90px;
    visibility: hidden;
    opacity: 0;
    border-top: 3px solid tomato;
    background-color: #673ab7;
    transition: top 0.3s;
}

nav ul ul ul {
    border-top: none;
    background-color: transparent;
}

nav ul li:hover > ul {
    visibility: visible;
    top: 70px;
    opacity: 1;
}

nav .logo {
    font-size: 27px;
    color: #d7bfff;
    float: left;
    font-weight: 600;
    line-height: 70px;
    padding-left: 70px;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #bc99f888;
}

nav ul ul li a:hover {
    box-shadow: none;
    color: #33ffff;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    background-color: #673ab7;
    top: -70px;
    left: 150px;
}

.fa-plus {
    color: #66ffff;
    margin-left: 40px;
}
